<div class="mb-3">
  <button
    pButton
    pRipple
    icon="fa-solid fa-rotate-left"
    type="button"
    class="p-button-lg h-3rem w-3rem mr-3"
    (click)="rotateLeft()"
    pTooltip="Повернуть налево"
  ></button>

  <button
    pButton
    pRipple
    icon="fa-solid fa-arrow-up"
    type="button"
    class="p-button-lg h-3rem w-3rem mr-3"
    [disabled]="!forwardSpaceId"
    (click)="moveForward()"
    pTooltip="Двигаться вперед"
  ></button>

  <button
    pButton
    pRipple
    icon="fa-solid fa-rotate-right"
    type="button"
    class="p-button-lg h-3rem w-3rem"
    (click)="rotateRight()"
    pTooltip="Повернуть направо"
    tooltipPosition="left"
  ></button>
</div>
<!--<div>
  <button
    pButton
    pRipple
    icon="fa-solid fa-delete-left"
    type="button"
    class="p-button-lg h-3rem w-3rem p-button-danger mr-3"
    (click)="rotateRight()"
  ></button>

  <button
    pButton
    pRipple
    icon="fa-solid fa-check"
    type="button"
    class="p-button-lg h-3rem w-3rem p-button-success"
    (click)="rotateRight()"
  ></button>
</div>-->
