<!--{{currentSpaceId}}-->
<!--{{spacesService.currentAngle}}-->

<app-tile
  *ngFor="let tile of tiles$ | async; let index=index;"
  [angle]="tile.angle"
  [currentSpaceId]="currentSpaceId$ | async"
  [id]="tile.id"
  [index]="index"
  [size]="tileSize"
  [top]="tile.top"
  [left]="tile.left"
></app-tile>

<!-- todo: удалить, вариант ниже лучше -->
<!--<app-paddle-streamer
  *ngFor="let startSpace of startSpaces"
  [centerLeft]="startSpace.centerLeft"
  [centerTop]="startSpace.centerTop"
  [tileSize]="tileSize"
></app-paddle-streamer>-->

<!--<app-paddle-streamer
  *ngFor="let startSpaceId of startSpaceIds"
  [spaceId]="startSpaceId"
  [tileSize]="tileSize"
></app-paddle-streamer>-->

<!--<app-paddle-streamer
  *ngIf="currentSpaceId"
  [spaceId]="currentSpaceId"
  [tileSize]="tileSize"
></app-paddle-streamer>-->
